@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="ImportExcel" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><input type="file" id="postedFile" name="postedFile" /></td>
                <td><input type="submit" id="cmdPostedFile" class="btn btn-sm btn-warning" value="Upload Excel File" disabled /></td>
            </tr>
        </table>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
         
        $(document).ready(function () {
            $("#postedFile").on('change', function (event) {
                filename = $(this).val();
                if (filename !== '') {
                    $('#cmdPostedFile').prop('disabled', false);
                }
                else {
                    $('#cmdPostedFile').prop('disabled', true);
                }
            });
        });
</script>
